@font-face {
  font-family: "PostGrotesk Medium";
  src: url("fonts/PostGrotesk-Medium.ttf") format('ttf'), url("fonts/PostGrotesk-Medium.woff") format("woff"), url("fonts/PostGrotesk-Medium.eot") format("eot");
}
@font-face {
  font-family: "PostGrotesk Book";
  src: url("fonts/PostGrotesk-Book.ttf") format('ttf'), url("fonts/PostGrotesk-Book.woff") format("woff"), url("fonts/PostGrotesk-Book.eot") format("eot");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 24px 0;
}
h4 {
  font-family: "PostGrotesk Medium", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.details-header {
  color: #747474;
  margin: 0px;
}
.summary-info {
  color: #adadad;
  margin: 0px;
  font-family: "PostGrotesk Book", Tahoma, sans-serif;
  display: inline-block;
}
.summary-amounts {
  font-family: "PostGrotesk Medium", Tahoma, sans-serif;
  color: #747474;
  float: right;
}
p {
  font-family: "PostGrotesk Book", Tahoma, sans-serif;
  color: #808080;
  font-size: 16px;
}
h4.steps {
  font-size: 14px;
  margin-bottom: 0px;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
}
h4.steps.doing {
  color: #7ecbeb;
}
h4.steps.todo {
  color: #bdc9cf;
}
.p-margin-bottom {
  margin-bottom: 36px;
  margin-top: 0px;
}
.heading-margin {
  margin-bottom: 6px;
  margin-top: 0px;
}
.field-label {
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
  color: #6ec0e6;
}
.currency-change span {
  color: #768895;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
  font-size: 12px;
}
.saving-info {
  color: #ffb432;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
  text-align: center;
  margin: 0px;
  font-size: 14px;
}
.receiving-details {
  padding: 10px 20px;
  border: 1px solid #E6E6E6;
}
.header-outter {
  padding: 15px 0px;
  background-color: #32323c;
}
.header-inner {
  max-width: 1032px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}
#cf-logo {
  height: 42px;
}
.svg-logo {
  width: 200px;
  height: auto;
}
#app {
  height: 100vh;
}
.app-container {
  height: 100%;
}
.main {
  height: 90%;
}
body {
  margin: 0px;
}
.card-box {
  width: 90%;
  padding-right: 5%;
  padding-top: 36px;
}
.outter-block {
  width: 100%;
  height: 100%;
}
.inner-block {
  margin: 0 auto;
  height: 100%;
}
.three-fifths {
  width: 60%;
  float: left;
  height: 100%;
}
.info-box {
  border: 1px solid #E6E6E6;
  padding: 18px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.white-box {
  background-color: white;
}
.info-box-middle {
  border-radius: 0px;
  border-top: none;
}
.two-fifths {
  width: 40%;
  float: right;
  height: 100%;
  background-color: #fbfbfb;
}
.box {
  margin-bottom: 24px;
  border-radius: 4px;
}
.left-box {
  float: right;
  max-width: 619.2px;
}
.right-box {
  max-width: 412.8px;
}
.field-box {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.summary-box {
  border: 1px solid #E6E6E6;
  border-right: none;
  height: 100%;
  max-width: 412.8px;
}
.side-border {
  border-top: none;
  border-bottom: none;
}
.recipient-box {
  border-top: none;
}
.pad-col-right {
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 60px;
}
.pad-col-left {
  padding-right: 24px;
  padding-left: 12px;
}
.padding-box {
  padding: 36px;
}
.padding-section {
  padding: 0px 24px;
}
.summary-right {
  width: 50%;
  float: right;
}
.summary-left {
  width: 50%;
  float: left;
}
.input-wrapper {
  width: 100%;
}
.absolute-aligner {
  position: absolute;
  margin: auto;
}
.absolute-top {
  top: 0;
  bottom: auto;
}
.absolute-left {
  right: auto;
  left: 0;
}
.currency-change {
  background-color: #FBFBFB;
  padding: 12px 18px;
  border: 1px solid #E6E6E6;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.justified {
  justify-content: space-between;
}
.saving-send {
  display: flex;
  align-items: center;
}
.flex-box {
  display: flex;
}
.btn {
  display: inline-block;
  width: auto;
  margin: 0;
  border: 1px solid #EAEEF1;
  padding: 12px 18px;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
  font-size: 100%;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn-send {
  color: white;
  background-color: #6ec0e6;
  border: 1px solid #589ab8;
}
input {
  width: 100%;
  display: block;
  border: none;
  -radius: 4px;
  background-color: white;
  transition: border-color 0.2s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  will-change: border-color;
  font-size: 24px;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
  padding-top: 10px;
}
input:focus {
  outline: none;
}
.field-box:hover,
.field-box:focus-within {
  border-color: #6ec0e6;
  transition-duration: 0.1s;
}
.transaction-form {
  margin-bottom: 40px;
}
.tr-form {
  margin-bottom: 24px;
}
.step-wrapper {
  text-align: left;
  max-width: 60%;
  margin: auto;
}
ol.threesteps {
  width: 100%;
  display: flex;
  padding: 0px;
}
ol.threesteps li.stepstate span {
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
}
ol.threesteps li.stepstate {
  flex-grow: 1;
  padding-bottom: 20px;
}
ol.threesteps li {
  display: inline-block;
  text-align: center;
}
ol.threesteps li.doing {
  color: #7ecbeb;
  border-bottom: 4px solid #6ec0e6;
}
ol.threesteps li.todo {
  color: #bdc9cf;
  border-bottom: 4px solid #e2f2fa;
}
.flag-img {
  width: 24px;
  vertical-align: middle;
}
.select-control {
  background-color: #fff;
  border-radius: 4px;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 42px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100px;
  border: 1px solid #E6E6E6;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
option {
  position: relative;
  left: 46px;
  height: 50px;
  color: white;
  background-color: #32323c;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 50px;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
}
select {
  border: none;
  -webkit-appearance: button;
  font-family: PostGrotesk Medium, Tahoma, sans-serif;
  font-size: 16px;
  color: #747474;
  width: 100%;
  padding-left: 40px;
  padding-top: 10px;
}
select:focus {
  outline: none;
}
figure {
  margin: 0px;
  display: inline;
  position: absolute;
  left: 10px;
  bottom: 7px;
}
.flag-image img {
  width: 22px;
  height: 22px;
}
@media only screen and (max-width: 1031px) and (min-width: 756px) {
  .three-fifths,
  .two-fifths {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    float: none;
  }
}
@media only screen and (max-width: 755px) and (min-width: 481px) {
  .three-fifths,
  .two-fifths {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 480px) {
  .three-fifths,
  .two-fifths {
    width: 100%;
    float: none;
  }
  .step-wrapper span {
    display: none;
  }
}
